.card {
  background-color: #fff;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: 320px;
}

.card:hover {
  transform: translateY(-4px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}
.image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.imageContainer {
  width: 100%;
  height: 200px;
  overflow: hidden;
  background-color: #f0f0f0;
}


.cardContent {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}

.productName {
  font-size: 1rem;
  font-weight: 600;
  color: #333;
  margin: 0 0 0.75rem 0;
  overflow: hidden;
  text-align: center;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  line-height: 1.4;
  min-height: 2.8em;
}

.actions {
  display: flex;
  gap: 0.5rem;
  justify-content: flex-end;
}

.likeButton,
.deleteButton {
  padding: 0.5rem;
  border: none;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
  transition: background-color 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.likeButton {
  background-color: #fef2f2;
  color: gray;
  border: none;
  outline: none;
  fill: none;
}


.likeButton:hover, .likedButton {
  background-color: #fee2e2;
  color: red;
  border-radius: 8px;
  border: none;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s;
}


.deleteButton {
  background-color: #f5f5f5;
  color: #666;
}

.deleteButton:hover {
  background-color: #e5e5e5;
}